<p>
    page-one works! {{ pageTitle }}
</p>

<div class="alert">
    This is an alert!
</div>

<table *ngIf="productArr.length > 0">
    <thead>
        <tr>
            <label for="filter">Filter by:</label>
            <input type="text" name="filter" id="filter" [(ngModel)]='listFilter'>
        </tr>
        <tr>
            You're filtering by {{listFilter}}
        </tr>
        <tr>
            <button (click)='toggleImage()' class="btn btn-primary">
                {{showImage? 'Hide' : 'Show'}} Image
            </button>
        </tr>
        <tr>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Product Image</th>
            <th>Product Code</th>
            <th>Release Date</th>
            <th>Description</th>
            <th>Price</th>
            <th>Star Rating</th>
            <th>edit Image URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productArr | productFilter: listFilter">
            <td>{{ product.productName }}</td>
            <td>{{ product.productId }}</td>
            <td>
                <a [routerLink]="['/product', product.productId]">
                    <img *ngIf="showImage" [style.width.px]='imageWidth' [src]="product.imageUrl" [title]='product.productName' alt='image of {{product.productName}}'>
                </a>
                
            </td>
            <td (click)="goelsewhere(product.productId)">
                {{ product.productCode }}
            </td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency: 'USD' : true : '1.2-2' }}</td>
            <td>
                <app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></app-star>
            </td>
            <td>
                <a [routerLink]="['/product', product.productId, 'edit']"
                    [queryParams]="{canEdit: 'true'}"
                    fragment="loading"
                >
                    {{ product.imageUrl }}
                </a>
            </td>
        </tr>
    </tbody>

    
</table>

<hr>

<!-- https://stackoverflow.com/a/48351996/9259701 -->
<form #f='ngForm' (ngSubmit)='onSumbit(f)'> <!-- (ngSubmit)='onSumbit(f)' -->
    <label>Username:</label> <input type="text" name="username" id="username" required>

    <label>Email:</label> <input type="email" name="email" id="email" required email>

    <!-- <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button> -->
    <input type="submit" value="Submit" [disabled]="!f.valid">
</form>

<hr>

<div *ngFor="let item of morkForm | async">
    {{item}}
</div>

<br>

<input type="text" name="changepassword" (change)="onFormChange($event)" id="">

<hr>

